# Copier en `.env` et renseigner. Le fichier `.env` n'est jamais versionné.
## Environment variables for:
## ---- PostgreSQL ----
## PostgreSQL Database name   : DB_NAME (default db)
## PostgreSQL Database user   : DB_USER (default duser)
## PostgreSQL Server password : DB_PASSWORD (default dbpassword)

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=churn
DB_USER=churn
DB_PASSWORD=changeme

# MLFlow Configuration
MLFLOW_PORT=5100

# API configuration
CHURN_MODEL_PATH: /app/models/churn_model_v1.0_20261002.joblib

# GRAFANA
GRAFANA_PORT=3000
GRAFANA_USER=admin
GRAFANA_PASSWORD=changeme


# PROMETHEUS
PROMETHEUS_PORT=9090


# Docker image tag for the churn-saas-api service
IMAGE_TAG=v1.0
